# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "develop"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    target-branch: "develop"
    groups:
      next:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@next/*"
          - "next"
          - "eslint-*-next"
      supabase:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@supabase/*"
      prisma:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@prisma/*"
          - "prisma"
          - "zod-prisma-types"
      three:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@react-three/*"
          - "three"
          - "@types/three"
          - "leva"
          - "meshline"
      ui:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@nextui-org/*"
          - "react-type-animation"
          - "react-markdown"
          - "rehype-*"
          - "remark-*"
          - "framer-motion"
          - "tailwindcss"
          - "prettier-*-tailwindcss"
          - "tailwind-merge"
          - "autoprefixer"
      lint:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
        patterns:
          - "@typescript-eslint/*"
          - "eslint*"
          - "stylelint*"
          - "prettier*"
        exclude-patterns:
          - "eslint-*-next"
          - "prettier-*-tailwindcss"
      deps:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
        dependency-type: production
        patterns:
          - "*"
        exclude-patterns:
          - "@next/*"
          - "next"
          - "eslint-*-next"
          - "@supabase/*"
          - "@prisma/*"
          - "prisma"
          - "zod-prisma-types"
          - "@react-three/*"
          - "three"
          - "@types/three"
          - "leva"
          - "meshline"
          - "@nextui-org/*"
          - "react-type-animation"
          - "react-markdown"
          - "rehype-*"
          - "remark-*"
          - "framer-motion"
          - "tailwindcss"
          - "prettier-*-tailwindcss"
          - "tailwind-merge"
          - "autoprefixer"
          - "@typescript-eslint/*"
          - "eslint*"
          - "stylelint*"
          - "prettier*"
      dev-deps:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
        dependency-type: development
        patterns:
          - "*"
        exclude-patterns:
          - "@next/*"
          - "next"
          - "eslint-*-next"
          - "@supabase/*"
          - "@prisma/*"
          - "prisma"
          - "zod-prisma-types"
          - "@react-three/*"
          - "three"
          - "@types/three"
          - "leva"
          - "meshline"
          - "@nextui-org/*"
          - "react-type-animation"
          - "react-markdown"
          - "rehype-*"
          - "remark-*"
          - "framer-motion"
          - "tailwindcss"
          - "prettier-*-tailwindcss"
          - "tailwind-merge"
          - "autoprefixer"
          - "@typescript-eslint/*"
          - "eslint*"
          - "stylelint*"
          - "prettier*"
