@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-wrap h2:first-child {
  @apply text-xl mt-2 py-2 pe-6 w-fit border-b border-zinc-300 dark:border-zinc-700;
}

.markdown-wrap h2:not(:first-child) {
  @apply text-xl mt-8 py-2 pe-6 w-fit border-b border-zinc-300 dark:border-zinc-700;
}

.markdown-wrap h3 {
  @apply text-lg mt-6 py-1 pe-3 w-fit border-b border-zinc-300 dark:border-zinc-700;
}

.markdown-wrap h4 {
  @apply text-bl mt-5 py-1 w-fit;
}

.markdown-wrap h5 {
  @apply text-base my-4 w-fit;
}

.markdown-wrap hr {
  @apply my-6 w-full border-b-2 border-zinc-200 dark:border-zinc-800;
}

.markdown-wrap p {
  @apply mt-4;
}

.markdown-wrap a {
  @apply hover:underline text-blue-500 dark:text-blue-400;
}

.markdown-wrap ul {
  @apply my-5 pl-8 list-disc;
}

.markdown-wrap li {
  @apply mt-2;
}

.markdown-wrap blockquote {
  @apply my-5 pl-3 border-l-4 border-neutral-300 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400;
}

.markdown-wrap :not(pre) > code {
  @apply px-1 py-[0.125rem] rounded-md bg-neutral-200 dark:bg-neutral-800 text-sm;
}

.markdown-wrap pre {
  @apply my-6 p-4 rounded-md bg-neutral-200 dark:bg-neutral-800 text-sm overflow-x-auto;
}

.markdown-wrap img {
  @apply my-6;
}

.markdown-wrap iframe {
  @apply my-6 w-full md:w-4/5 h-full aspect-video;
}
