@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Apply the default font family */
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-serif;

  /* Due to the influence of NextUI, child elements of the body are wrapped, so need to nest selectors. */
  & > div[data-overlay-container] {
    @apply min-h-screen w-full bg-neutral-50 dark:bg-neutral-900;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  /* Hide the RF3 controller `leva` */
  /* stylelint-disable-next-line selector-id-pattern */
  #leva__root {
    @apply hidden;
  }
}

/* Template styles */
.default-wrap {
  @apply grid h-full w-full content-start gap-9 px-5 py-10 md:px-7;

  h1 {
    @apply relative mx-auto mb-5 w-fit px-4 pb-4 text-center text-2xl font-semibold md:text-3xl;

    &::before {
      @apply absolute inset-x-0 -bottom-1 h-[3px] w-full rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }

    & span {
      @apply break-words;
    }
  }
}
