.markdown-wrap {
  @apply grid h-full w-full content-start py-5 text-neutral-800/80 dark:text-neutral-200/80;

  h2 {
    @apply relative mb-9 mt-4 w-fit py-1.5 pr-[5%] text-xl font-semibold;

    &::before {
      @apply absolute inset-x-0 -bottom-1 h-[2px] w-full rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }
  }

  h3 {
    @apply relative mb-8 mt-2 w-fit py-1 pr-[3%] text-lg font-semibold;

    &::before {
      @apply absolute inset-x-0 -bottom-1 h-[1.5px] w-full rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }
  }

  h4 {
    @apply relative mb-7 mt-1 w-fit py-1 pr-[1%] text-md font-semibold;

    &::before {
      @apply absolute inset-x-0 -bottom-1 h-[1.5px] w-full rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }
  }

  h5,
  h6 {
    @apply relative mb-5 mt-0.5 w-fit py-0.5 text-base font-medium;

    &::before {
      @apply absolute inset-x-0 -bottom-1 h-[1px] w-full rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }
  }

  p {
    @apply mb-9 leading-casual;
  }

  :not(pre) > code {
    @apply mx-0.5 rounded-lg bg-neutral-200/75 px-1.5 py-0.5 text-[0.875em] dark:bg-neutral-700/75;
  }

  blockquote {
    @apply relative mb-9 ml-2 w-11/12 pl-5 text-neutral-600/80 dark:text-neutral-400/80;

    &::before {
      @apply absolute inset-y-0 left-0 h-full w-[3px] rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }

    p {
      @apply mb-0;
    }

    ul,
    ol {
      margin-bottom: 0 !important;
    }
  }

  ul:not(.contains-task-list) {
    @apply mb-9 ml-[1.375rem];

    & > li {
      @apply relative leading-casual;

      &::before {
        @apply absolute inset-y-0 -left-[1.125rem] text-neutral-600/40 dark:text-neutral-400/40;

        content: "•";
      }
    }
  }

  ol:not(.contains-task-list) {
    @apply mb-9 ml-[1.375rem];

    counter-reset: orderedlist;

    & > li {
      @apply relative leading-casual;

      &::before {
        @apply absolute inset-y-0 -left-[1.125rem] text-neutral-600/40 dark:text-neutral-400/40;

        content: counter(orderedlist, decimal) ".";
        counter-increment: orderedlist;
      }
    }
  }

  li:not(.task-list-item) > ul,
  li:not(.task-list-item) > ol {
    @apply mb-0;
  }

  ul.contains-task-list,
  ol.contains-task-list {
    @apply leading-casual;

    & input {
      @apply mx-1.5;
    }
  }

  hr {
    @apply relative mb-12 mt-6 h-[3px] w-full border-0 border-none;

    &::before {
      @apply absolute inset-0 rounded-full bg-neutral-600/25 dark:bg-neutral-400/25;

      content: "";
    }
  }

  table {
    @apply mb-9 w-fit border-collapse;

    th,
    td {
      @apply border-1 border-neutral-600/25 px-4 py-1.5 dark:border-neutral-400/25;
    }

    th {
      @apply font-semibold;
    }

    tr:nth-child(2n) {
      @apply bg-neutral-300/25 dark:bg-neutral-700/25;
    }
  }

  .footnotes[data-footnotes] {
    #footnote-label {
      @apply hidden;
    }

    p {
      @apply mb-0;
    }
  }
}
